<div id="wrapper">
  <div class="container">
    <%= render :partial => "navbar" %>
    <div class="jumbotron">
      <p id="welcome">

      <h1 class="item"><%= image_tag "/assets/smc_logo.png" %> Sportsband Music Repo</h1></p>
    </div>
    <div class="row">
      <div class="col-sm-4 item">
        <h2 class="mb20">Upload a Song</h2>
        <%= link_to image_tag("/assets/1413769575_upload.png"), new_song_path %>
      </div>
      <div class="col-sm-4 item">
        <h2 class="mb20">By Part</h2>
        <%= image_tag "/assets/1413769538_download.png" %>
      </div>
      <div class="col-sm-4 item">
        <h2 class="mb20">Complete Songs</h2>
        <%= image_tag "/assets/1413769812_filing_cabinet.png" %>
      </div>
    </div>
  </div>
</div>